#root {
  font-size: 0.8rem;
  font-weight: 600;
  height: auto;
  overflow: visible !important;
}
.dropdown-toggle::before {
  content: none !important;
}
.dropdown-toggle::after {
  content: none !important;
}
.main-container {
  width: 100vw;
  min-height: fit-content;
  .header {
    .navbar {
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: aliceblue;
        }
      }
    }
  }
  .body-container {
    height: 100%;
    .content-container {
      height: 100%;
      position: relative;
    }
  }
}
@media (min-width: 1350px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1650px !important;
  }
}
.nav-button {
  .nav-link {
    text-decoration: none;
  }
}

.txt-SignIn {
  border: none;
}
.crud-group-btn {
  display: flex;
}
.Info-Variant {
  display: flex;
}
