#root {
  font-size: 0.8rem;
  font-weight: 600;
  height: auto;
  overflow: visible !important;
}
.main-container {
  width: 100vw;
  height: 100vh;
  .header {
    .navbar {
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: aliceblue;
        }
      }
    }
  }
}
@media (min-width: 1350px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1650px !important;
  }
}
.nav-button {
  .nav-link {
    text-decoration: none;
  }
}

.txt-SignIn {
  border: none;
}
.crud-group-btn {
  display: flex;
}
.Info-Variant {
  display: flex;
}
