.paginate{
    margin-top: 20px;
    &_button{
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
    min-width: 40px;
    padding:0 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    }
   
}